<strong>Recovering password....</strong>
<p>A password recovery request has been sent to the email {{emailRecover}}</p>
<p>To recover the password use token {{token}} or click on the link below</p>
<a href="{{link}}">Create new password<a>